@import "./css/reset.css";

/* BASE */
body {
	font-family: "Source Serif Pro", serif;
	font-size: calc(0.5em + 1vmin);
	line-height: 1.5;
	color: #000;
	background: #eaeaea;
	margin-left: 20px;
	margin-right: 20px;
}
h1 {
	font-size: calc(100% + 8vw);
	line-height: 90%;
	letter-spacing: 0.02em;
}

h2 {
	font-size: calc(100% + 3vw);
	line-height: 110%;
	letter-spacing: 0.03em;
}

h3 {
	font-size: calc(100% + 1vw);
	line-height: 110%;
	letter-spacing: 0.03em;
}

p {
	font-size: 1.4em;
	line-height: 130%;
	letter-spacing: 0.03em;
	padding-top: 0.5rem;
}

/* MAIN */
.main__container {
	max-width: 1440px;
	margin-top: 1.5rem;
	margin-left: auto;
	margin-right: auto;
}

/* HEADER */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	width: 100%;
	height: 100%;
	max-width: 95px;
}

.header__nav {
	flex: none;
}

.header__nav__link {
	padding: 0 1em;
	color: inherit;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: -0.02em;
	text-decoration: none;
	cursor: pointer;
}

.header__nav__link--cart {
	background: black;
	padding: 0.8em;
	color: white;
}

/* HERO */
.hero {
	width: 100%;
	height: 646px;
	margin-top: 80px;
	display: flex;
}

.hero__content {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.hero__content__description {
	max-width: 500px;
}

.hero__imgs {
	width: 100%;
	position: relative;
}

.hero__imgs__1 {
	position: absolute;
	top: 0;
	right: 380px;
	z-index: -1;
	max-width: 407px;
	width: 100%;
}

.hero__imgs__2 {
	position: absolute;
	top: 80px;
	right: 40px;
	z-index: -1;
	max-width: 407px;
	width: 100%;
}

.hero__imgs__1 img,
.hero__imgs__2 img {
	box-shadow: 1px 0 15px rgba(165, 165, 165, 0.589);
}

/* classics */
.classics {
	position: relative;
	margin-top: 160px;
}

.classics__cover {
	object-fit: cover;
}

.classics__content {
	display: flex;
	align-items: center;
	justify-content: space-around;
	transform: translateY(-33%);
}

.classics__card {
	margin: 0 1rem;
	max-width: 544px;
	background: #eaeaea;
	padding: 40px;
}

/* CARDS */
.cards {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}
.card {
	margin: 60px 10px;
}
.card--center {
	margin-top: 0px;
}

.card__cover {
	object-fit: cover;
}
.card__title {
	margin-top: 24px;
	line-height: 110%;
	letter-spacing: 0.04em;
}
.card__link {
	margin-top: 16px;
	text-decoration: underline;
	letter-spacing: 0.04em;
}

/* COLLECTION */
.collection {
	margin-top: 80px;
}
.collection__txt {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 40px;
	gap: 2em;
	transform: translateY(40px);
}

.collection__txt__description {
	max-width: 450px;
}

.collection__covers {
	display: inline-flex;
}

.collection__covers__img {
	object-fit: cover;
}

@media screen and (max-width: 840px) {
	/* HEADER */
	.header {
		flex-direction: column;
	}

	.header__nav__link {
	}

	.header__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 1.5rem;
		flex-wrap: wrap;
	}

	/* HERO */
	.hero {
		flex-direction: column-reverse;
		height: 100%;
		margin-top: 60px;
	}

	.hero__content {
		align-items: center;
		text-align: center;
		gap: 1em;
		padding: 1em;
		transform: translateY(-80px);
	}

	.hero__imgs {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: -1;
	}

	.hero__imgs__1 {
		position: static;
		margin-left: 20px;
	}

	.hero__imgs__2 {
		position: static;
		transform: translateX(-20px);
	}

	/* classics */
	.classics {
		margin-top: 80px;
	}
	.classics__content {
		flex-direction: column;
		max-width: 500px;
		gap: 10em;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		transform: translateY(-50vw);
	}

	/* CARDS */
	.cards {
		flex-direction: column;
		align-items: stretch;
		margin: 0 20px;
	}
	.card {
		margin-top: 0;
	}

	.card__link {
		margin-top: 0.5em;
	}

	/* COLLECTION */
	.collection {
		display: flex;
		justify-content: space-between;
	}
	.collection__txt {
		margin: 0;
		padding: 1em;
		flex-direction: column;
		justify-content: center;
		gap: 4em;
	}
	.collection__covers {
		flex-wrap: wrap;
	}
}
